h1 {color: #fff}
section { background: rgba(0, 0, 0, 0.30); position: relative;  overflow: hidden;}
form {padding: 50px 0}
form .form-control-feedback {right: 15px; display: none;}
form .help-block {display: none;}
form .has-feedback .form-control-feedback {display: block}
form .has-feedback  .help-block {background: #a94442; color: #fff;  padding: 5px; display: block}
header {padding: 20px 0;}
nav.navbar-default {margin: 0; background-color: #fff;}
nav .navbar-brand {padding: 0; padding-left: 30px; padding-top: 6px;}
figure {position: absolute; top: 0; z-index: -1}



@media (max-width: 768px)
{
    h1 {font-size: 20px}
    form {padding: 20px 0}
}

